@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #F5F5F5;
    --foreground: #212121;
    --card: #FFFFFF;
    --card-foreground: #212121;
    --popover: #FFFFFF;
    --popover-foreground: #212121;
    --primary: #16A34A;
    --primary-foreground: #FFFFFF;
    --secondary: #81C784;
    --secondary-foreground: #212121;
    --muted: #E0E0E0;
    --muted-foreground: #757575;
    --accent: #2E7D32;
    --accent-foreground: #FFFFFF;
    --destructive: #EF4444;
    --destructive-foreground: #FFFFFF;
    --border: #D1D5DB;
    --input: #D1D5DB;
    --ring: #16A34A;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: #09090B;
    --foreground: #FAFAFA;
    --card: #09090B;
    --card-foreground: #FAFAFA;
    --popover: #09090B;
    --popover-foreground: #FAFAFA;
    --primary: #22C55E;
    --primary-foreground: #FAFAFA;
    --secondary: #4CAF50;
    --secondary-foreground: #FAFAFA;
    --muted: #262626;
    --muted-foreground: #A3A3A3;
    --accent: #333333;
    --accent-foreground: #FAFAFA;
    --destructive: #7F1D1D;
    --destructive-foreground: #FAFAFA;
    --border: #27272A;
    --input: #27272A;
    --ring: #22C55E;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
